GEMINI_API_KEY="YOUR_GEMINI_API_KEY_HERE"
NEXT_PUBLIC_GEMINI_API_KEY="YOUR_GEMINI_API_KEY_HERE"
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyDummyKeyForBuildOnly"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="ginofest-2026.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="ginofest-2026"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="ginofest-2026.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="19574959170"
NEXT_PUBLIC_FIREBASE_APP_ID="1:19574959170:web:ca37e18784de2eeb3511db"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-KKJMJ66N8Q"
